* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #0E3F19;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}

.Menu {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.box {
    height: 2rem;
    position: relative;
    display: flex;
}

.search-img {
    position: absolute;
    left: 7px;
    height: 96%;
    bottom: -1px;
}

.search-input {
    height: 100%;
    background: transparent;
    border: 1px solid white;
    padding-left: 35px;
}

.search-select {
    height: 100%;
    background: transparent;
    color: inherit;
    padding-inline: 1rem;
    border: 1px solid white;
}

.search-select option {
    color: black;
}

.menu2 {
    display: flex;
    padding: 30px;
    gap: 1.5rem;
    font-size: 0.9rem;
}

.menu2 img {
    transform: scale(1);
}

.num1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.num2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.num3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.badage {
    background-color: #EF7707;
    padding: 2rem 5rem;
}

.h1-badage {
    font-size: 5rem;
    color: #0E3F19;
}

.p-badage {
    font-size: 1.5rem;
    color: #0E3F19;
    margin-top: 2rem;
}

.button-badage {
    background-color: rgb(215, 215, 215);
    font-size: 1rem;
    border-radius: 0.5rem;
    padding: 0.3rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.img-20-badage {
    position: relative;
    left: 0.5rem;
    right: 0;
    margin: auto;
    text-align: center;
    bottom: 22rem;
    width: 100%;
    color: white;
}

.img1 {
    width: 6rem;
}

.s-badage {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-fruit-badage {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
}

.img2 {
    width: 100%;
}

.title-mahcolat{
    padding-left: 4.5rem;
    padding-top: 3rem;
    font-family: 'Brush Script MT', cursive;
}

.Show-More-one{
    margin-right: 7rem;
    float: right;
    margin-top: -2.3rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 6px;
    background-color:#FFC107 ;
    font-family: 'Brush Script MT', cursive;
    border: 0.5px solid black;
   
}

.Show-More-one:active {
    transform: translateX(0.2px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    
}

.div-asli{
padding-top: 5%;

}

.div-asli-mahcolat{
    width: 20%;
    position: relative;
    color: white;
    padding: 0.5rem;
    display: inline-block;
    margin:10px ;
    vertical-align: top;
    height: 230px;
    padding-left: 60px;
}

.buttom{
position: relative;
padding: 0.5rem;
padding-left: 1rem;
z-index: 100;
}

.img-mahcol1{
    position: absolute;
    width: 100%;
    border-radius: 1rem;
    object-fit: cover;
    height: 100%;
}
.hh4{
    
    color: #FFC107;
    font-size: 1.5rem;
    margin-top: 0px;
    font-family: 'Brush Script MT', cursive;
    font-style: initial;
    position: relative;
    z-index: 101;
}
.span{
    width: 100%;
    left: 2.1rem;
    position: absolute;
    background-color: #FFC107;
    padding-left: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-left: 1px;
    margin-top: 80px;
    border-radius: 12px;
    font-family: 'Brush Script MT', cursive;
    z-index: 11;
    cursor: pointer;
    border: 0.5px solid black;
}

.span:active {
    transform: translateX(0.3px);
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
     background-color: #e6ac00;
}

.p1{
    margin-top: 5px;
    position: relative;
    z-index: 101;
}
.show{
    padding-right: 10px;
    
}
.main-mahcol{
    background-color: white;
}
.cover{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.498);
    width: 225px;
    height: 230px;
    top: 1px;
    right: -68px;
    border-radius: 20px;
    z-index: 1;
    transition: all 1.5s;
}

.cover:hover{
background-color:rgba(255, 255, 255, 0);
}
    
