*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #18AFAF;
    display: flex;
    justify-content: space-evenly;
    color: white;
    align-items: center;
}
.Menu{
    display: flex;
    gap: 2rem;
    list-style: none;
}
.box{
    height: 2rem;
    position: relative;
    display: flex;
}
.search-img{
    position: absolute;
    left: 7px;
    height: 96%;
    bottom: -1px;
}
.search-input{
    height: 100%;
    background: transparent;
    border: 1px solid white;
    padding-left: 35px;
}
.search-select{
    height: 100%;
    background: transparent;
    color:inherit;
    padding-inline: 1rem;
    border: 1px solid white;
}
.search-select option{
  color: black;
}
.menu2{
    display: flex;
    padding: 30px;
    gap: 1.5rem;
    font-size: 0.9rem;
}
.menu2 img{
    transform: scale(1);
}
.num1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.num2{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.num3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

